<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dgit.bigdata.project.hairshop.mappers.BizMapper">
	<resultMap type="Biz" id="BizWithCsEventInfo">
		<id property="bNo" column="bNo"/>
		<result property="bDate" column="bDate"/>
		<result property="bTime" column="bTime"/>
		<association property="bcNo" resultMap="kr.or.dgit.bigdata.project.hairshop.mappers.CustomerMapper.RSMverCustomer"/>
		<association property="beNo" resultMap="kr.or.dgit.bigdata.project.hairshop.mappers.HairEventMapper.RSMverHairevent"/>
		<association property="bhNo" resultMap="kr.or.dgit.bigdata.project.hairshop.mappers.HairinfoMapper.RSMverHairinfo"/>
	</resultMap>
	<select id="selectAllBiz" resultMap="BizWithCsEventInfo">
		select b.bNo, b.bDate,b.bTime,c.cNo,c.cName, c.cDel, 
		h.hNo, h.hName, h.hPrice, e.eNo, e.eName from hairshop.biz b 
		left outer join hairshop.customer c on b.cNo = c.cNo
		left outer join hairshop.hairinfo h on b.hNo = h.hNo 
		left outer join hairshop.event e on b.eNo = e.eNo 
	</select>
	<select id="selectYearOrMonthFromBiz" resultMap="BizWithCsEventInfo">
		select *from hairshop.view_biz where bDate &gt;= #{param1} and bDate &lt;#{param2} order by bDate
	</select>
	<select id="selectFromBizByCustomer" parameterType="int" resultMap="BizWithCsEventInfo">
		select *from hairshop.view_biz where cNo=#{param1} order by bNo
	</select>
	<select id="selectBizWithYearMonth" parameterType="hashmap" resultMap="BizWithCsEventInfo">
		select * from view_biz 
		<where>
			<if test="year != null">
				year(bDate)=#{year}
			</if>
			<if test="month != null">
				and month(bDate) = #{month}
			</if>
			<if test="startDate != null">
				bDate &gt;= #{startDate}
			</if>
			<if test="endDate != null">
				and bDate &lt; #{endDate}
			</if>
		</where>  
	</select>
	<select id="selectYearOrMonthFromBizCalTotal" parameterType="hashmap" resultType="hashmap">
		select count(bNo) as cnt, sum(hPrice*(1-eDiscount)) as sum from view_biz
		<where>
			<if test="year != null">
				year(bDate)=#{year}
			</if>
			<if test="month != null">
				and month(bDate) = #{month}
			</if>
			<if test="startDate != null">
				bDate &gt;= #{startDate}
			</if>
			<if test="endDate != null">
				and bDate &lt; #{endDate}
			</if>
		</where>  
	</select>
	<insert id="insertBiz" parameterType="Biz">
		insert 
	</insert>
</mapper>