<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dgit.bigdata.project.hairshop.mappers.CustomerMapper">
	<resultMap type="Customer" id="RSMverCustomer">
		<id property="cNo" column="cNo"/>
		<result property="cName" column="cName"/>
		<result property="cDob" column="cDob"/>
		<result property="cDoJoin" column="cDoJoin"/>
		<result property="cPhone" column="cPhone"/>
		<result property="cDel" column="cDel"/>
	</resultMap>
	<insert id="insertCustomer" parameterType="Customer" useGeneratedKeys="true" keyProperty="cNo">
		insert into customer(cName,cDob,cDoJoin, cPhone, cDel) values(#{cName},#{cDob},#{cDoJoin},#{cPhone},#{cDel});
	</insert>
	<update id="updateCustomer" parameterType="Customer">
		update customer set cName=#{cName}, cDob=#{cDob}, cDoJoin=#{cDoJoin}, cPhone=#{cPhone}, cDel=#{cDel} where cNo=#{cNo}
	</update>
	<update id="deleteCustomer" parameterType="Customer">
		update customer set cDel=#{cDel} where cNo=#{cNo}
	</update>
	<select id="searchCustomerByName" parameterType="hashmap" resultType="Customer">
		select cNo, cName, cDob, cDoJoin, cPhone, cDel from customer where cName=#{cName} and cDel = 0
	</select>
	<select id="searchCustomerByNo" parameterType="int" resultType="Customer">
		select cNo, cName, cDob, cDoJoin, cPhone, cDel from customer where cNo=#{cNo} and cDel = 0
	</select>
	<select id="searchCustomerByNoForJoin" parameterType="hashmap" resultType="Customer">
		select cNo, cName, cDob, cDoJoin, cPhone from customer where cNo=#{cNo} and cDel = 0
	</select>
	<select id="selectByAll" resultType="customer">
		select cNo, cName, cDob, cDoJoin, cPhone from customer where cDel = 0
	</select>
</mapper>